.App {
  text-align: center;

}
body {
  background-color: aqua;
  background: url("https://images.unsplash.com/photo-1489367874814-f5d040621dd8?q=80&w=1446&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-repeat: no-repeat;
background-size: cover;
}

.container {
  display: flex;
  justify-content: center;

}
h1, h3, p {
  font-family: "Open Sans", sans-serif;
}

p {
  background-color: rgb(210, 233, 233);
  padding: 10px;
  width: 30%;
  border-radius: 20px;
  margin-top: 20px;
 
}



